.footer {
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 80px 0 30px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-bottom: 60px;
}

.footer-brand h3 {
    color: var(--text-white);
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.footer-tagline {
    color: #a0aec0;
    margin-bottom: 24px;
}

.footer-heading {
    color: var(--text-white);
    margin-bottom: 24px;
    font-size: 1.2rem;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #cbd5e0;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: var(--accent-color);
}

.footer-contact li {
    display: flex;
    align-items: center;
    /* vertical align center*/
    gap: 12px;
    margin-bottom: 16px;
    color: #cbd5e0;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    text-align: center;
    color: #718096;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-bottom p {
    margin: 0;
}